.bicicleta {
    height: 600px;
    background-color: black;
    background-image: url("./img/bicicleta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    /* background é atalho  */
    /* background: black url("./img/bicicleta.jpg") no-repeat cover center top */
    display: flex;
}

.bicicleta h1 {
    margin: auto;
    background: white;
    padding: 1rem 2rem;
}

.pattern {
    height: 300px;
    background-image: url("./img/pattern.svg");
    /* background-size: 100px; */
    background-repeat: repeat;
}

.linear {
    height: 200px;
    background-image: linear-gradient(to bottom,lightblue , lightcoral );
}

.radial {
    height: 200px;
    background-image: radial-gradient( rgb(252, 252, 210), rgb(252, 252, 160), rgb(255, 195, 83));
}