* {
    margin: 0;
    font-family: Arial;
}

.flex {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    background: whitesmoke;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ececec;
}

.grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}